/*Keyframes*/

@keyframes fromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }

}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

/*General*/

:root {
    --photoColor: rgba(2, 2, 2, 1);
    --navColor: darkblue;
}

html {
    scroll-behavior: smooth;
}


html, body {
    /*Gets rid of horizontal space to the right*/
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 115px;
}

h2{
    font-size: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    padding-bottom: 10px;
    color: red;
    border-bottom: 1px red solid;
}

footer {
    display: inline-block;
}

/*Classes*/


.left-right {
    animation: fromLeft 2s ease; 
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: var(--navColor);
    height : 50px;
    justify-content: center;
    display: flex;
    flex-wrap : wrap;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 20px;
}

.center {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*IDs*/

#photo{
    position: relative;
    width : 40%;
    height : auto;
    border-radius: 25%;
    border: 5px solid var(--photoColor);
    float: right;
    top: -300px;
    z-index: -1;
}

#about-me-paragraph{
    font-size: 25px;
    text-align: left;
    float: left;
    margin-left: 20px;
    /*display : grid;*/
}

#hot {
    animation: glow 1s ease-in-out infinite alternate;
}

#controller{
    width: 30%;
    height: auto; 
    float: right;
    margin-left: 10px;
}

#credit {
    text-align: left;
}

/*
.footer-images {
Don't adjust size, that should be inline
}
*/